/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

/* Flexbox */
body{
    display: flex;
    flex-direction: column;
}

.page-header{
    display: flex;
    justify-content: space-between;
}

.right-links{
    display:flex;
    gap:2em;
}

.intro{
    display: flex;
    justify-content: space-between;
}

.intro-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1em;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-content{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}

.quote{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quote-quote{
    align-self: center;
}

.quote-by{
    align-self: flex-end;
}

.sign-up-box{
    display: flex;
    justify-content: space-between;
}

.sign-up1,
.sign-up2{
    flex-basis:auto;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PADDING, MARGINS and Width */

body{
    margin:0;
}

body>*{
    padding-left:200px;
    padding-right:200px;
}


ul{
    margin:0;
    padding:0;
}

.page-header{
    padding-top: 20px;
}

.header-logo-image{
    width:100px;
    margin-top:-10px;
}

.intro{
    padding:100px 200px;
}

.intro-image{
    width:350px;
    height:auto;
}

.intro-desc{
    padding-right:100px;
}

.info{
    padding: 30px 200px 100px 200px;
}

.info-thumbnail{
    width:200px;
}

.info-image{
    width:200px;
    height:200px;
}

.quote{
    padding: 150px 300px;
}

.sign-up-box{
    margin: 100px 0;
    padding: 50px;
    padding:35px 100px;
}

.sign-up1,
.sign-up2{
    padding:1em 2em;
}

.footer{
    padding: 25px 200px;
}

/* COLOURS AND STYLES */

/* COLOURS AND STYLES */

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:#e5e7eb;
}

button{
    background-color: #5EC974;
    border-radius: 10em;
    color:#e5e7eb;
}

.page-header,
.intro,
.footer{
    background-color: #2A280E;
}

.page-header{
    color:#e5e7eb;
}

.left-links{
    font-size:24px;
    color:#f9faf8;
}

.right-links{
    font-size:12px;
}

.intro-header{
    font-size: 48px;
    font-weight: bolder;
    color:#f9faf8;
}

.intro-desc{
    font-size:18px;
    color:#e5e7eb;
}

.info,.sign-up{
    background-color: #E3CEAB;
}

.info-header{
    font-size:36px;
    font-weight:bolder;
    color:#1f2937;
}

.info-thumbnail>p{
    font-weight: 300;
    text-align: center;
}

.quote{
    background-color: #e5e7eb;
}

.quote-quote{
    font-size:36px;
    font-style: italic;
    font-weight:100;
    color:#1f2937;
}

.quote-by{
    font-size:20px;
    color: #1b1b1b;
}

.sign-up-box{
    background-color:#2D8673;
    border-radius: 10px;
}

.sign-up-text{
    color:#e5e7eb;
}

.sign-up-header{
    font-size:24px;
    font-weight: bolder;
}

.sign-up1,
.sign-up2{
    color:#2b2b2b;
    font-size:20px;
}

.footer{
    color:#e5e7eb;
}

/* TEST */