body{
    display: flex;
    flex-direction: column;
    margin:0;
}

ul{
    margin:0;
    padding:0;
    list-style: none;
}

.intro-image{
    width:350px;
    height:auto;
}

.info-image{
    width:200px;
    height:200px;
}

body>*{
    padding-left:200px;
    padding-right:200px;
}

.page-header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.right-links{
    display: flex;
    gap:20px;
}

.intro{
    display: flex;
    justify-content: space-between;
    padding:100px 200px;
    gap:20px;
}

.intro-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 200px 100px 200px;
}

.info-content{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}

.info-thumbnail{
    width:200px;
}

.quote{
    display: flex;
    flex-direction: column;
    padding: 150px 300px;
    gap: 20px;
}

.quote-quote{
    align-self: center;
}

.quote-by{
    align-self: flex-end;
}

.sign-up-box{
    background-color: deepskyblue;
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
    padding: 50px;
    border-radius: 10px;
    padding:35px 100px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 200px;
}


/* Colours */

.page-header,
.intro,
.footer{
    background-color: #1f2937;
}

.intro-header{
    font-size: 48px;
    font-weight: bolder;
    color:#f9faf8
}

.intro-desc{
    font-size:18px;
    color:#e5e7eb
}

button{
    background-color: #3882f6;
}

.left-links{
    font-size:24px;
    color:#f9faf8;
}

.info-header{
    font-size:36px;
    font-weight:bolder;
    color:#1f2937;
}

.quote{
    background-color: #e5e7eb;
}

.quote-quote{
    font-size:36px;
    font-style: italic;
    font-weight:100;
    color:#1f2937;
}

.sign-up-text{
    color:#e5e7eb;
}

.sign-up-header{
    font-size:24px;
    font-weight: bolder;
}

button{
    color:#e5e7eb;
}

.footer{
    color:#e5e7eb;
}