body{
    display: flex;
    flex-direction: column;
    margin:50px;
}

ul{
    margin:0;
    padding:0;
    list-style: none;
}

.intro-image{
    width:375px;
    height:auto;
}

.info-image{
    width:200px;
    height:200px;
}

.page-header{
    display: flex;
    justify-content: space-between;
}

.right-links{
    display: flex;
    gap:10px;
}

.intro{
    display: flex;
    justify-content: space-between;
}

.intro-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-content{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}

.info-thumbnail{
    width:200px;
}

.quote{
    display: flex;
    flex-direction: column;
}

.quote-quote{
    align-self: center;
}

.quote-by{
    align-self: flex-end;
}

.sign-up-box{
    background-color: deepskyblue;
    display: flex;
    justify-content: space-between;
    margin:50px;
    padding:25px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Colours */

.page-header,
.intro,
.footer{
    background-color: #1f2937;
}

.intro-header{
    font-size: 48px;
    font-weight: bolder;
    color:#f9faf8
}

.intro-desc{
    font-size:18px;
    color:#e5e7eb
}

button{
    background-color: #3882f6;
}

.left-links{
    font-size:24px;
    color:#f9faf8;
}

.info-header{
    font-size:36px;
    font-weight:bolder;
    color:#1f2937;
}

.quote{
    background-color: #e5e7eb;
}

.quote-quote{
    font-size:36px;
    font-style: italic;
    font-weight:100;
    color:#1f2937;
}